#################################################
# macOS
#################################################
.DS_Store

#################################################
# IDEs
#################################################
.vscode/
.idea/
*.iml

#################################################
# Logs
#################################################
*.log

#################################################
# Environment Files
#################################################
.env
.env.local
.env.*

#################################################
# OS Files
#################################################
Thumbs.db
node_modules
